In [5]:
from datetime import datetime
from IPython.display import display, Markdown
import pandas as pd
import numpy as np
import os
pd.set_option("display.max_rows", 200)
pd.options.display.float_format = "{:,.1f}".format
float_formatter = "{:,.0f}".format
from utilities import *

In [6]:
print(os.path.join(
        OUTPUT_DIR, 'joined', 'summary', f'measure_ast007.csv'))

df = pd.read_csv(os.path.join(OUTPUT_DIR, 'joined', 'summary', f'measure_ast007.csv'))

c:\Users\higginsr\Documents\GitHub\asthma_indicators_qof\output\joined\summary\measure_ast007.csv

In [7]:
# Update labels for IMD
df.loc[(df["category"]=="imd") & (df["group"]=='1'),"group"]='1 - Most deprived'
df.loc[(df["category"]=="imd") & (df["group"]=='5'),"group"]='5 - Least deprived'
df.loc[(df["category"]=="imd") & (df["group"]=='missing'),"group"]='(Missing)'

# Update care_home flags
df.loc[(df["category"]=="care_home") & (df["group"]=='1'),"group"]='Yes'
df.loc[(df["category"]=="care_home") & (df["group"]=='0'),"group"]='No'

# Update learning_disability flags
df.loc[(df["category"]=="learning_disability") & (df["group"]=='1'),"group"]='Yes'
df.loc[(df["category"]=="learning_disability") & (df["group"]=='0'),"group"]='No'

# Update sex flags
df.loc[(df["category"]=="sex") & (df["group"]=='F'),"group"]='Female'
df.loc[(df["category"]=="sex") & (df["group"]=='M'),"group"]='Male'

# Update ethnicity flags
df.loc[(df["category"]=="sex") & (df["group"]==''),"group"]='Unknown'

In [8]:
df2 = pd.pivot_table(df[df.date == '2022-03-01'],index=['category','group'],values=['numerator','denominator', 'value'])
df2 = df2[['numerator','denominator','value']]

In [52]:
# Update order of categories in the table
df3 = df2.loc[['population','sex','age_band','ethnicity','imd','region','care_home','learning_disability']]
# Udpdate names of rows and columns
df4 = df3.rename(columns={'numerator':'Numerator','denominator':'Denominator','value':'Percentage'}
        , index={'population':'Population','sex':'Sex','age_band':'Age band','ethnicity':'Ethnicity'
            ,'imd':'IMD','region':'Region','care_home':'Care home status','learning_disability':'Record of learning disability'
            ,'F':'Female','M':'Male'})
# Remove multi index labels
df4.index.names = [None,None]

                                                        Numerator  \
Population                    Population                    500.0
Sex                           Female                        240.0
                              Male                          260.0
Age band                      0-19                           70.0
                              20-29                          70.0
                              30-39                          70.0
                              40-49                          60.0
                              50-59                          60.0
                              60-69                          50.0
                              70-79                          70.0
Ethnicity                     Black                           NaN
                              South Asian                     NaN
                              White                           NaN
IMD                           (Missing)                      20.0
                              1 - Most deprived             100.0
                              2                              90.0
                              3                             110.0
                              4                             100.0
                              5 - Least deprived             80.0
Region                        East                           50.0
                              East Midlands                  50.0
                              London                        100.0
                              North East                     60.0
                              North West                     40.0
                              South East                     40.0
                              South West                     50.0
                              West Midlands                  50.0
                              Yorkshire and The Humber       50.0
Care home status              No                            400.0
                              Yes                           100.0
Record of learning disability No                              NaN
                              Yes                             NaN

                                                        Denominator  \
Population                    Population                    1,000.0
Sex                           Female                          470.0
                              Male                            530.0
Age band                      0-19                            140.0
                              20-29                           130.0
                              30-39                           140.0
                              40-49                           120.0
                              50-59                           120.0
                              60-69                           110.0
                              70-79                           130.0
Ethnicity                     Black                            10.0
                              South Asian                      10.0
                              White                            10.0
IMD                           (Missing)                        40.0
                              1 - Most deprived               200.0
                              2                               190.0
                              3                               220.0
                              4                               200.0
                              5 - Least deprived              150.0
Region                        East                            110.0
                              East Midlands                   100.0
                              London                          200.0
                              North East                      100.0
                              North West                      100.0
                              South East                       80.0
                              South West                      100.0
                              West Midlands                   100.0
                              Yorkshire and The Humber        100.0
Care home status              No                              800.0
                              Yes                             200.0
Record of learning disability No                              990.0
                              Yes                              10.0

                                                        Percentage
Population                    Population                       0.5
Sex                           Female                           0.5
                              Male                             0.5
Age band                      0-19                             0.5
                              20-29                            0.5
                              30-39                            0.5
                              40-49                            0.5
                              50-59                            0.5
                              60-69                            0.5
                              70-79                            0.5
Ethnicity                     Black                            NaN
                              South Asian                      NaN
                              White                            NaN
IMD                           (Missing)                        0.5
                              1 - Most deprived                0.5
                              2                                0.5
                              3                                0.5
                              4                                0.5
                              5 - Least deprived               0.5
Region                        East                             0.5
                              East Midlands                    0.5
                              London                           0.5
                              North East                       0.6
                              North West                       0.4
                              South East                       0.5
                              South West                       0.5
                              West Midlands                    0.5
                              Yorkshire and The Humber         0.5
Care home status              No                               0.5
                              Yes                              0.5
Record of learning disability No                               NaN
                              Yes                              NaN

In [53]:
# Change all NULL values from NaN to '-'
df5 = df4.style.format({'Denominator': "{:,.0f}".format, 'Numerator': "{:,.0f}".format, 'Percentage':"{0:.2%}".format}, na_rep="-")
df5