In [10]:
from datetime import datetime
from IPython.display import display, Markdown
import pandas as pd
import os
pd.set_option("display.max_rows", 200)
pd.options.display.float_format = "{:,.1f}".format
float_formatter = "{:,.0f}".format
import summary_statistics as ss

In [45]:
df = ss.combined_results_read()
df

                    ast007_num  ast007_denom  value        date
attribute category
Age       70-79           62.0          69.0    0.9  2019-03-01
          missing          NaN           NaN    NaN  2019-03-01
          80+              NaN          53.0    NaN  2019-03-01
          60-69           77.0          72.0    1.1  2019-03-01
          20-29           65.0          61.0    1.1  2019-03-01
          40-49           64.0           NaN    NaN  2019-03-01
          30-39           53.0          57.0    0.9  2019-03-01
          0-19            54.0          70.0    0.8  2019-03-01
          50-59           74.0          67.0    1.1  2019-03-01
          60-69           60.0          63.0    1.0  2020-03-01
          80+             67.0          60.0    1.1  2020-03-01
          70-79           65.0          67.0    1.0  2020-03-01
          missing          NaN           NaN    NaN  2020-03-01
          50-59           67.0          63.0    1.1  2020-03-01
          30-39           69.0          70.0    1.0  2020-03-01
          20-29           64.0          65.0    1.0  2020-03-01
          0-19             NaN           NaN    NaN  2020-03-01
          40-49           55.0          58.0    0.9  2020-03-01
          missing          NaN           NaN    NaN  2021-03-01
          60-69           69.0          59.0    1.2  2021-03-01
          80+             64.0           NaN    NaN  2021-03-01
          70-79           59.0          54.0    1.1  2021-03-01
          50-59           57.0          64.0    0.9  2021-03-01
          30-39           62.0          65.0    1.0  2021-03-01
          20-29           68.0          76.0    0.9  2021-03-01
          0-19            63.0          58.0    1.1  2021-03-01
          40-49            NaN          69.0    NaN  2021-03-01
          60-69           59.0          61.0    1.0  2022-03-01
          70-79           69.0          69.0    1.0  2022-03-01
          50-59           53.0           NaN    NaN  2022-03-01
          80+             68.0          74.0    0.9  2022-03-01
          30-39           70.0          71.0    1.0  2022-03-01
          20-29           64.0          61.0    1.0  2022-03-01
          0-19            68.0          72.0    0.9  2022-03-01
          40-49            NaN          46.0    NaN  2022-03-01
          missing          NaN           NaN    NaN  2022-03-01
Sex       F              273.0         267.0    1.0  2019-03-01
          M              227.0         233.0    1.0  2019-03-01
          M              248.0         242.0    1.0  2020-03-01
          F              252.0         258.0    1.0  2020-03-01
          F              249.0         264.0    0.9  2021-03-01
          M              251.0         236.0    1.1  2021-03-01
          F              267.0         252.0    1.1  2022-03-01
          M              233.0         248.0    0.9  2022-03-01

In [39]:
pd.pivot_table(df,index=['attribute','category'],values=['ast007_num','ast007_denom'],columns='date')

                   ast007_denom                                  ast007_num  \
date                 2019-03-01 2020-03-01 2021-03-01 2022-03-01 2019-03-01
attribute category
Age       0-19             70.0        NaN       58.0       72.0       54.0
          20-29            61.0       65.0       76.0       61.0       65.0
          30-39            57.0       70.0       65.0       71.0       53.0
          40-49             NaN       58.0       69.0       46.0       64.0
          50-59            67.0       63.0       64.0        NaN       74.0
          60-69            72.0       63.0       59.0       61.0       77.0
          70-79            69.0       67.0       54.0       69.0       62.0
          80+              53.0       60.0        NaN       74.0        NaN
Sex       F               267.0      258.0      264.0      252.0      273.0
          M               233.0      242.0      236.0      248.0      227.0


date               2020-03-01 2021-03-01 2022-03-01
attribute category
Age       0-19            NaN       63.0       68.0
          20-29          64.0       68.0       64.0
          30-39          69.0       62.0       70.0
          40-49          55.0        NaN        NaN
          50-59          67.0       57.0       53.0
          60-69          60.0       69.0       59.0
          70-79          65.0       59.0       69.0
          80+            67.0       64.0       68.0
Sex       F             252.0      249.0      267.0
          M             248.0      251.0      233.0

In [44]:
test=df.groupby(['attribute','category']).

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FF4CF96E80>