In [8]:
from datetime import datetime
from IPython.display import display, Markdown
import pandas as pd
import os
pd.set_option("display.max_rows", 200)
pd.options.display.float_format = "{:,.1f}".format
float_formatter = "{:,.0f}".format
import summary_statistics as ss
from config import year_end_list, demographics
from utilities import *

In [3]:
df = ss.combined_results_read()
df

   attribute category  ast007_num  ast007_denom  value        date
0        Age    70-79        70.0          74.0    0.9  2019-03-01
1        Age  missing         NaN           NaN    NaN  2019-03-01
2        Age      80+        72.0          67.0    1.1  2019-03-01
3        Age    60-69        62.0          57.0    1.1  2019-03-01
4        Age    20-29        57.0           NaN    NaN  2019-03-01
5        Age    40-49        65.0          57.0    1.1  2019-03-01
6        Age    30-39         NaN          63.0    NaN  2019-03-01
7        Age     0-19        67.0          64.0    1.0  2019-03-01
8        Age    50-59        58.0          65.0    0.9  2019-03-01
9        Age    60-69        63.0          61.0    1.0  2020-03-01
10       Age      80+         NaN           NaN    NaN  2020-03-01
11       Age    70-79        71.0          60.0    1.2  2020-03-01
12       Age  missing         NaN           NaN    NaN  2020-03-01
13       Age    50-59        70.0          58.0    1.2  2020-03-01
14       Age    30-39        53.0          69.0    0.8  2020-03-01
15       Age    20-29        77.0          72.0    1.1  2020-03-01
16       Age     0-19        64.0          63.0    1.0  2020-03-01
17       Age    40-49        51.0          62.0    0.8  2020-03-01
18       Age      80+         NaN           NaN    NaN  2021-03-01
19       Age    70-79        67.0          70.0    1.0  2021-03-01
20       Age    60-69        58.0           NaN    NaN  2021-03-01
21       Age    50-59         NaN          56.0    NaN  2021-03-01
22       Age  missing         NaN           NaN    NaN  2021-03-01
23       Age    30-39        61.0          63.0    1.0  2021-03-01
24       Age    20-29        64.0          71.0    0.9  2021-03-01
25       Age     0-19        68.0          70.0    1.0  2021-03-01
26       Age    40-49        69.0          66.0    1.0  2021-03-01
27       Age      80+        57.0          57.0    1.0  2022-03-01
28       Age     0-19        56.0          71.0    0.8  2022-03-01
29       Age    20-29        65.0          68.0    1.0  2022-03-01
30       Age    30-39        65.0          67.0    1.0  2022-03-01
31       Age    40-49         NaN          62.0    NaN  2022-03-01
32       Age    50-59        68.0          58.0    1.2  2022-03-01
33       Age    60-69        66.0           NaN    NaN  2022-03-01
34       Age    70-79        72.0          63.0    1.1  2022-03-01
35       Age  missing         NaN           NaN    NaN  2022-03-01
36       Sex        F       248.0         261.0    1.0  2019-03-01
37       Sex        M       252.0         239.0    1.1  2019-03-01
38       Sex        M       267.0         232.0    1.2  2020-03-01
39       Sex        F       233.0         268.0    0.9  2020-03-01
40       Sex        F       257.0         263.0    1.0  2021-03-01
41       Sex        M       243.0         237.0    1.0  2021-03-01
42       Sex        F       268.0         259.0    1.0  2022-03-01
43       Sex        M       232.0         241.0    1.0  2022-03-01

In [9]:
pd.pivot_table(df,index=['attribute','category'],values=['ast007_num','ast007_denom'],columns='date')

                   ast007_denom                                  ast007_num  \
date                 2019-03-01 2020-03-01 2021-03-01 2022-03-01 2019-03-01
attribute category
Age       0-19             64.0       63.0       70.0       71.0       67.0
          20-29             NaN       72.0       71.0       68.0       57.0
          30-39            63.0       69.0       63.0       67.0        NaN
          40-49            57.0       62.0       66.0       62.0       65.0
          50-59            65.0       58.0       56.0       58.0       58.0
          60-69            57.0       61.0        NaN        NaN       62.0
          70-79            74.0       60.0       70.0       63.0       70.0
          80+              67.0        NaN        NaN       57.0       72.0
Sex       F               261.0      268.0      263.0      259.0      248.0
          M               239.0      232.0      237.0      241.0      252.0


date               2020-03-01 2021-03-01 2022-03-01
attribute category
Age       0-19           64.0       68.0       56.0
          20-29          77.0       64.0       65.0
          30-39          53.0       61.0       65.0
          40-49          51.0       69.0        NaN
          50-59          70.0        NaN       68.0
          60-69          63.0       58.0       66.0
          70-79          71.0       67.0       72.0
          80+             NaN        NaN       57.0
Sex       F             233.0      257.0      268.0
          M             267.0      243.0      232.0

In [13]:
demo_list = []
for i in demographics:

    df = pd.read_csv(os.path.join(
        OUTPUT_DIR, 'joined', f'measure_{i}_rate.csv')).assign(attribute=i)
    for year in year_end_list:
        df_year = df[df['date'] == year].rename(columns={f'{i}': 'category'})
        new_cols = ["attribute", "category",
                    "ast007_num", "ast007_denom", "value", "date"]
        df_year = df_year.reindex(columns=new_cols)
        demo_list.append(df_year)

concat_tbl = pd.concat(demo_list)
print(concat_tbl)


# concat_tbl = pd.concat(demo_list)
# format_1 = pd.concat(concat_tbl,axis=1,keys=['date'])
# print(format_1)

               attribute                  category  ast007_num  ast007_denom  \
4                    sex                         F       248.0         261.0
5                    sex                         M       252.0         239.0
28                   sex                         F       233.0         268.0
29                   sex                         M       267.0         232.0
52                   sex                         F       257.0         263.0
53                   sex                         M       243.0         237.0
76                   sex                         F       268.0         259.0
77                   sex                         M       232.0         241.0
18              age_band                      0-19        67.0          64.0
19              age_band                     20-29        57.0           NaN
20              age_band                     30-39         NaN          63.0
21              age_band                     40-49        65.0          57.0
22              age_band                     50-59        58.0          65.0
23              age_band                     60-69        62.0          57.0
24              age_band                     70-79        70.0          74.0
25              age_band                       80+        72.0          67.0
26              age_band                   missing         NaN           NaN
126             age_band                      0-19        64.0          63.0
127             age_band                     20-29        77.0          72.0
128             age_band                     30-39        53.0          69.0
129             age_band                     40-49        51.0          62.0
130             age_band                     50-59        70.0          58.0
131             age_band                     60-69        63.0          61.0
132             age_band                     70-79        71.0          60.0
133             age_band                       80+         NaN           NaN
134             age_band                   missing         NaN           NaN
234             age_band                      0-19        68.0          70.0
235             age_band                     20-29        64.0          71.0
236             age_band                     30-39        61.0          63.0
237             age_band                     40-49        69.0          66.0
238             age_band                     50-59         NaN          56.0
239             age_band                     60-69        58.0           NaN
240             age_band                     70-79        67.0          70.0
241             age_band                       80+         NaN           NaN
242             age_band                   missing         NaN           NaN
342             age_band                      0-19        56.0          71.0
343             age_band                     20-29        65.0          68.0
344             age_band                     30-39        65.0          67.0
345             age_band                     40-49         NaN          62.0
346             age_band                     50-59        68.0          58.0
347             age_band                     60-69        66.0           NaN
348             age_band                     70-79        72.0          63.0
349             age_band                       80+        57.0          57.0
350             age_band                   missing         NaN           NaN
18                region                      East        47.0          43.0
19                region             East Midlands        48.0          48.0
20                region                    London        97.0          90.0
21                region                North East        53.0          45.0
22                region                North West        46.0          57.0
23                region                South East        39.0          61.0
24                region                South West        57.0          42.0
25                region             West Midlands        59.0          56.0
26                region  Yorkshire and The Humber        54.0          58.0
126               region                      East        53.0          53.0
127               region             East Midlands        45.0          45.0
128               region                    London       104.0         111.0
129               region                North East        52.0          55.0
130               region                North West        55.0          59.0
131               region                South East        48.0          42.0
132               region                South West        56.0          46.0
133               region             West Midlands        40.0          47.0
134               region  Yorkshire and The Humber        47.0          42.0
234               region                      East        47.0          53.0
235               region             East Midlands        51.0          46.0
236               region                    London       110.0          99.0
237               region                North East        55.0          44.0
238               region                North West        41.0          51.0
239               region                South East        50.0          49.0
240               region                South West        52.0          55.0
241               region             West Midlands        44.0          50.0
242               region  Yorkshire and The Humber        50.0          53.0
342               region                      East        54.0          56.0
343               region             East Midlands        40.0          41.0
344               region                    London       114.0         104.0
345               region                North East        42.0          51.0
346               region                North West        53.0          44.0
347               region                South East        45.0          49.0
348               region                South West        50.0          60.0
349               region             West Midlands        50.0          55.0
350               region  Yorkshire and The Humber        52.0          40.0
12                   imd                         1        91.0          98.0
13                   imd                         2       115.0         107.0
14                   imd                         3       101.0          88.0
15                   imd                         4        98.0         109.0
16                   imd                         5        76.0          75.0
17                   imd                   missing        19.0          23.0
84                   imd                         1       101.0         109.0
85                   imd                         2       104.0         110.0
86                   imd                         3       103.0          85.0
87                   imd                         4       105.0         109.0
88                   imd                         5        64.0          67.0
89                   imd                   missing        23.0          20.0
156                  imd                         1       114.0          95.0
157                  imd                         2       105.0          97.0
158                  imd                         3        93.0         104.0
159                  imd                         4        98.0         110.0
160                  imd                         5        67.0          74.0
161                  imd                   missing        23.0          20.0
228                  imd                         1       106.0         119.0
229                  imd                         2       101.0         101.0
230                  imd                         3       100.0         100.0
231                  imd                         4       114.0          99.0
232                  imd                         5        63.0          61.0
233                  imd                   missing        16.0          20.0
12             ethnicity                       NaN       468.0         470.0
13             ethnicity                     Black         NaN           NaN
14             ethnicity                     Mixed         8.0           7.0
15             ethnicity                     Other         7.0           6.0
16             ethnicity               South Asian         NaN           NaN
17             ethnicity                     White         7.0           8.0
84             ethnicity                       NaN       476.0         483.0
85             ethnicity                     Black         NaN           NaN
86             ethnicity                     Mixed         NaN           NaN
87             ethnicity                     Other         NaN           NaN
88             ethnicity               South Asian         9.0           NaN
89             ethnicity                     White         NaN           NaN
156            ethnicity                       NaN       487.0         487.0
157            ethnicity                     Black         NaN           NaN
158            ethnicity                     Mixed         NaN           NaN
159            ethnicity                     Other         NaN           NaN
160            ethnicity               South Asian         7.0           NaN
161            ethnicity                     White         NaN           NaN
228            ethnicity                       NaN       485.0         485.0
229            ethnicity                     Black         NaN           NaN
230            ethnicity                     Mixed         NaN           NaN
231            ethnicity                     Other         NaN           0.0
232            ethnicity               South Asian         NaN           8.0
233            ethnicity                     White         NaN           NaN
4    learning_disability                         0         NaN           NaN
5    learning_disability                         1         NaN           NaN
28   learning_disability                         0       494.0           NaN
29   learning_disability                         1         6.0           NaN
52   learning_disability                         0         NaN           NaN
53   learning_disability                         1         NaN           NaN
76   learning_disability                         0       494.0           NaN
77   learning_disability                         1         6.0           NaN
4              care_home                         0       405.0         396.0
5              care_home                         1        95.0         104.0
28             care_home                         0       395.0         401.0
29             care_home                         1       105.0          99.0
52             care_home                         0       396.0         391.0
53             care_home                         1       104.0         109.0
76             care_home                         0       400.0         403.0
77             care_home                         1       100.0          97.0

     value        date
4      1.0  2019-03-01
5      1.1  2019-03-01
28     0.9  2020-03-01
29     1.2  2020-03-01
52     1.0  2021-03-01
53     1.0  2021-03-01
76     1.0  2022-03-01
77     1.0  2022-03-01
18     1.0  2019-03-01
19     NaN  2019-03-01
20     NaN  2019-03-01
21     1.1  2019-03-01
22     0.9  2019-03-01
23     1.1  2019-03-01
24     0.9  2019-03-01
25     1.1  2019-03-01
26     NaN  2019-03-01
126    1.0  2020-03-01
127    1.1  2020-03-01
128    0.8  2020-03-01
129    0.8  2020-03-01
130    1.2  2020-03-01
131    1.0  2020-03-01
132    1.2  2020-03-01
133    NaN  2020-03-01
134    NaN  2020-03-01
234    1.0  2021-03-01
235    0.9  2021-03-01
236    1.0  2021-03-01
237    1.0  2021-03-01
238    NaN  2021-03-01
239    NaN  2021-03-01
240    1.0  2021-03-01
241    NaN  2021-03-01
242    NaN  2021-03-01
342    0.8  2022-03-01
343    1.0  2022-03-01
344    1.0  2022-03-01
345    NaN  2022-03-01
346    1.2  2022-03-01
347    NaN  2022-03-01
348    1.1  2022-03-01
349    1.0  2022-03-01
350    NaN  2022-03-01
18     1.1  2019-03-01
19     1.0  2019-03-01
20     1.1  2019-03-01
21     1.2  2019-03-01
22     0.8  2019-03-01
23     0.6  2019-03-01
24     1.4  2019-03-01
25     1.1  2019-03-01
26     0.9  2019-03-01
126    1.0  2020-03-01
127    1.0  2020-03-01
128    0.9  2020-03-01
129    0.9  2020-03-01
130    0.9  2020-03-01
131    1.1  2020-03-01
132    1.2  2020-03-01
133    0.9  2020-03-01
134    1.1  2020-03-01
234    0.9  2021-03-01
235    1.1  2021-03-01
236    1.1  2021-03-01
237    1.2  2021-03-01
238    0.8  2021-03-01
239    1.0  2021-03-01
240    0.9  2021-03-01
241    0.9  2021-03-01
242    0.9  2021-03-01
342    1.0  2022-03-01
343    1.0  2022-03-01
344    1.1  2022-03-01
345    0.8  2022-03-01
346    1.2  2022-03-01
347    0.9  2022-03-01
348    0.8  2022-03-01
349    0.9  2022-03-01
350    1.3  2022-03-01
12     0.9  2019-03-01
13     1.1  2019-03-01
14     1.1  2019-03-01
15     0.9  2019-03-01
16     1.0  2019-03-01
17     0.8  2019-03-01
84     0.9  2020-03-01
85     0.9  2020-03-01
86     1.2  2020-03-01
87     1.0  2020-03-01
88     1.0  2020-03-01
89     1.1  2020-03-01
156    1.2  2021-03-01
157    1.1  2021-03-01
158    0.9  2021-03-01
159    0.9  2021-03-01
160    0.9  2021-03-01
161    1.1  2021-03-01
228    0.9  2022-03-01
229    1.0  2022-03-01
230    1.0  2022-03-01
231    1.2  2022-03-01
232    1.0  2022-03-01
233    0.8  2022-03-01
12     1.0  2019-03-01
13     NaN  2019-03-01
14     1.1  2019-03-01
15     1.2  2019-03-01
16     NaN  2019-03-01
17     0.9  2019-03-01
84     1.0  2020-03-01
85     NaN  2020-03-01
86     NaN  2020-03-01
87     NaN  2020-03-01
88     NaN  2020-03-01
89     NaN  2020-03-01
156    1.0  2021-03-01
157    NaN  2021-03-01
158    NaN  2021-03-01
159    NaN  2021-03-01
160    NaN  2021-03-01
161    NaN  2021-03-01
228    1.0  2022-03-01
229    NaN  2022-03-01
230    NaN  2022-03-01
231    NaN  2022-03-01
232    NaN  2022-03-01
233    NaN  2022-03-01
4      NaN  2019-03-01
5      NaN  2019-03-01
28     NaN  2020-03-01
29     NaN  2020-03-01
52     NaN  2021-03-01
53     NaN  2021-03-01
76     NaN  2022-03-01
77     NaN  2022-03-01
4      1.0  2019-03-01
5      0.9  2019-03-01
28     1.0  2020-03-01
29     1.1  2020-03-01
52     1.0  2021-03-01
53     1.0  2021-03-01
76     1.0  2022-03-01
77     1.0  2022-03-01

In [12]:
#header = pd.MultiIndex.from_product([[]])
test=concat_tbl
# test['attribute']=concat_tbl['attribute'].replace({'age_band':'Age', 'sex':'Sex','imd':'IMD','region':'Region'
#     ,'ethnicity':'Ethnicity','care_home':'Care Home Status','learning_disability':'Learning Disability'})
test['category']=concat_tbl[(concat_tbl['category']==0)].replace({'0':'No record of care home'})

test



# fyear_201819 = concat_tbl[(concat_tbl['date']=='2019-03-01')].set_index(['attribute','category'])
# fyear_201920 = concat_tbl[(concat_tbl['date']=='2020-03-01')].set_index(['attribute','category'])


# joined = pd.concat([fyear_201819,fyear_201920],axis=1, keys=['2018/19','2019/20'])

# joined

ValueError: Columns must be same length as key

In [6]:
print(concat_tbl.columns)
print(concat_tbl.index)
#concat_tbl.set_index(['attribute','category'],inplace=True)
#concat_tbl

NameError: name 'concat_tbl' is not defined